@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  padding: 0;
  margin: 0;
}

.navbar-outer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  padding: 0 20px 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  margin: auto;
}

.navbar .navbar-left-container {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-left-container .navbar-logo {
  height: 1.4em;
  width: auto;
}

.navbar .navbar-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-center-container a {
  margin: auto;
  font-family: 'Open Sans';
  font-size: 0.9em;
  color: #444444;
  font-weight: 500;
}

.navbar .navbar-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.navbar .navbar-right-container a {
  font-family: 'Open Sans';
  font-size: 0.9em;
  color: #444444;
  font-weight: 500;
  margin: auto;
}

.navbar .navbar-right-container .navbar-shopping-cart-logo {
  height: 1.4em;
  width: auto;
  margin: auto;
}

.navbar .navbar-right-container .navbar-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #F2F2F2;
  margin: 2px 0 2px 0;
  padding: 0 10px 0 10px;
  border-radius: 45px;
  height: 2.4em;
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: 500;
}

.navbar .navbar-right-container .navbar-language-container .navbar-language-flag {
  height: 1.2em;
  width: auto;
  padding-right: 8px;
}

.main .hero1 {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero1 .hero1-first {
  margin: 0;
  max-width: 1440px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 58px;
  padding-top: 1.6em;
  text-align: center;
}

.main .hero1 .hero1-second {
  margin: 0;
  max-width: 1440px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 19px;
  padding-top: 1em;
  text-align: center;
}

.main .hero1 .hero1-third {
  margin-top: 2em;
  padding: 0.6em 1.0em 0.6em 1.0em;
  font-size: 14px;
  background-color: #F45A27;
  border-radius: 25px;
  border-width: 0px;
  font-weight: 400;
  font-family: 'Open Sans';
}

.main .hero1 .hero1-fourth {
  margin: 0;
  border-top: 1px solid black;
  width: 1350px;
  margin-top: 5em;
  text-align: center;
}

.main .hero1 .hero1-fifth {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
  padding: 5px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1350px;
}

.main .hero2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #F2F2F2), color-stop(0%, #FFFFFF));
  background: linear-gradient(to bottom, #F2F2F2 20%, #FFFFFF 0%);
}

.main .hero2 .hero2-image-holder {
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.main .hero2 .hero2-image-holder img {
  max-width: 1350px;
}

.main .hero3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1175px;
  margin: 50px auto 50px auto;
  padding: 0 20px 0 20px;
  gap: 25px;
}

.main .hero3 img {
  width: 100%;
  height: 635px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .hero3 h1 {
  font-family: "Open Sans";
  font-size: 1.85em;
}

.main .hero3 p {
  font-family: "Open Sans";
  font-size: 0.9em;
  line-height: 1.8em;
}

.main .hero3 .hero3-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .hero3 .hero3-button-container .hero3-button1 {
  margin-top: 1em;
  padding: 0.6em 1.0em 0.6em 1.0em;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 1px solid #000000;
  font-weight: 400;
  font-family: 'Open Sans';
}

.main .hero3 .hero3-button-container .hero3-button2 {
  margin-top: 1em;
  margin-left: 1em;
  padding: 0.6em 1.0em 0.6em 1.0em;
  font-size: 14px;
  background-color: #F45A27;
  border-radius: 25px;
  border-width: 0px;
  font-weight: 400;
  font-family: 'Open Sans';
}

.main .hero4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eaf4f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .hero4 .hero4-container {
  width: 1150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 80px 20px 80px 20px;
}

.main .hero4 .hero4-container .hero4-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.main .hero4 .hero4-container .hero4-left img {
  max-width: 100%;
}

.main .hero4 .hero4-container .hero4-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero4 .hero4-container .hero4-right .hero4-right-inner {
  width: 70%;
  padding-right: 10px;
}

.main .hero4 .hero4-container .hero4-right .hero4-right-inner .hero4-right-inner-quote {
  font-family: "Roboto";
  font-size: 16.5px;
  font-weight: 400;
  line-height: 1.5em;
}

.main .hero4 .hero4-container .hero4-right .hero4-right-inner .hero4-right-inner-quote-credits {
  font-family: "Open Sans";
  font-weight: 700;
}

.main .hero5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .hero5 .hero5-image-container {
  width: 100%;
}

.main .hero5 .hero5-image-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .hero5 .hero5-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero5 .hero5-right .hero5-right-inner {
  width: 47%;
}

.main .hero5 .hero5-right .hero5-right-inner h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 35px;
}

.main .hero5 .hero5-right .hero5-right-inner p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
}

.main .hero5 .hero5-right .hero5-right-inner button {
  margin-top: 1em;
  padding: 0.6em 1.0em 0.6em 1.0em;
  font-size: 14px;
  background-color: #F45A27;
  border-radius: 25px;
  border-width: 0px;
  font-weight: 400;
  font-family: 'Open Sans';
}

.blog {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .blog-title-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  width: 1350px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
}

.blog .blog-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 1350px;
  grid-column-gap: 35px;
}

.blog .blog-inner .blog-inner-post {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.blog .blog-inner .blog-inner-post img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog .blog-inner .blog-inner-post h2 {
  padding: 15px 0 0 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.blog .blog-inner .blog-inner-post p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */