@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  padding: 0;
  margin: 0;
}

.navbar-outer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  padding: 0 20px 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  margin: auto;
}

.navbar .navbar-left-container {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-left-container .navbar-logo {
  height: 1.4em;
  width: auto;
}

.navbar .navbar-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-center-container a {
  margin: auto;
  font-family: 'Open Sans';
  font-size: 0.9em;
  color: #444444;
  font-weight: 500;
}

.navbar .navbar-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.navbar .navbar-right-container a {
  font-family: 'Open Sans';
  font-size: 0.9em;
  color: #444444;
  font-weight: 500;
  margin: auto;
}

.navbar .navbar-right-container .navbar-shopping-cart-logo {
  height: 1.4em;
  width: auto;
  margin: auto;
}

.navbar .navbar-right-container .navbar-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #F2F2F2;
  margin: 2px 0 2px 0;
  padding: 0 10px 0 10px;
  border-radius: 45px;
  height: 2.4em;
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: 500;
}

.navbar .navbar-right-container .navbar-language-container .navbar-language-flag {
  height: 1.2em;
  width: auto;
  padding-right: 8px;
}

.main .hero1 {
  background-color: #F2F2F2;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero1 .hero1-first {
  margin: 0;
  max-width: 1440px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 58px;
  padding-top: 1.6em;
  text-align: center;
}

.main .hero1 .hero1-second {
  margin: 0;
  max-width: 1440px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 19px;
  padding-top: 1em;
}

.main .hero1 .hero1-third {
  margin-top: 2em;
  padding: 0.6em 1.0em 0.6em 1.0em;
  font-size: 14px;
  background-color: #F45A27;
  border-radius: 25px;
  border-width: 0px;
  font-weight: 400;
  font-family: 'Open Sans';
}

.main .hero1 .hero1-fourth {
  margin: 0;
  border-top: 1px solid red;
  width: 800px;
  padding-bottom: 50px;
  text-align: center;
}

.main .hero1 .hero1-fifth {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */